@import url("fonts.css");

@import url("reset.css");

body {
   
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
}
[class*="__container"] {
	min-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
    background-color: #333;
   
}
/*===============header============*/

.header__container {
	height: 60px;
	color: #fff;
	text-align: center;
	padding-top: 15px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 45;
}
.logo {
	max-width: 45px;
	min-height: 45px;
	display: inline-block;
	padding-right: 150px;
}
.logo__link {
}
.header__menu {
	display: inline-block;
}
.menu {

}
.menu__item {
	position: relative;
	display: inline-block;
	text-align: center;
	
}
.menu__item:hover .sub-menu{
	visibility: visible;
	
}
.menu__link {
	min-width: 100px;
	max-height: 40px;
	font-size: 20px;
	padding: 5px;
	border: 2px solid #fff;
	border-radius: 10px;
}
.menu__link:hover{
	text-decoration: underline;
	font-weight: 600;
}
.sub-menu {
	position: absolute;
	top: 100%;
	left:0;
	visibility: hidden;
	
	color: #000;
}
.menu-sub {
	padding-top: 10px;
}
.menu-sub__item {
	position: relative;
	padding: 10px;
	border-radius: 10px;
	background-color:#e1dfdf;
}
.menu-sub__item:not(:last-child){
	margin-bottom: 10px;
}
.menu-sub__item:hover .menu-sub1__item{
	visibility: visible;
}
.menu-sub__link:hover{
	text-decoration: underline;
	font-weight: 600;
}

.menu-sub__link {
	min-width: 150px;
	max-height: 40px;
	font-size: 20px;
	padding: 5px;
	
	border-radius: 10px;
}
.menu-sub1 {
	
	position:absolute ;
	top: 0;
	left:100%;
	padding-left: 10px;
	
}
.menu-sub1__item {
	visibility: hidden;
	background-color: #e1dfdf;
	
	
	border-radius: 10px;
}
.menu-sub1__item:not(:last-child){
	margin-bottom: 10px;
}
.menu-sub1__link {
	min-width: 150px;
	min-height: 50px;
	font-size: 20px;
	padding: 10px 5px;
	
	border-radius: 10px;
	
}
.menu-sub1__link:hover{
	text-decoration: underline;
	font-weight: 600;
}
/*===============practice===========*/


.main__container{
	max-width: 1270px;
	padding-top: 80px;
	background-color: grey;
}
.main__practice-block {
	background-color: rgba(110, 110, 110, 0.802);
	padding: 20px;
}
.block {
	font-size: 20px;
}
.block__list {
	text-align: center;
	padding: 5px;
}
.block__list:not(:last-child){
	margin-bottom: 30px;
	
}
.block__box {
	display: inline-block;
	width: 200px;
	height:200px;
	text-align: center;
	background-color: rgba(157, 156, 157, 0.784);
	
}
.block__box:not(:last-child){
	margin-right: 30px;
}
.block__item {
	width: 200px;
	height: 200px;
	border: 2px solid #F7F7F7;
	background-color: rgba(174, 172, 174, 0.784);
	font-size: 20px;
	transition-duration: 0.5s;
	padding: 5px;
	
}
.block__item:hover.block__item--translate
{
	transform:translate(10px,10px);
}

.block__item:hover.block__item--scale
{
	transform: scale(0.5,0.8);
}
.block__item:hover.block__item--rotate
{
	transform:rotate(180deg) ;
	
}
.block__item:hover.block__item--skew
{
	transform: skew(20deg,10deg);
}
.block__item:hover.block__item--transform-origin
{
	transform:scale(0.5);
	transform-origin:bottom;
}
.block__item
{
	width: 200px;
	height: 200px;
}
.block__box--perspective
{
	perspective: 600px;
}
.block__item:hover.block__item--perspective
{
	transform: rotateX(55deg);
}
.block__item:hover.block__item--translate-3d
{
	transform: translate3d(20px, 20px, -100px);
}
.block__item:hover.block__item--skale-3d
{
	transform: scale3d(1.5, 1.5, 1.5);
}
.block__item:hover.block__item--rotate-3d
{
	transform: rotate3d(10, 20, -20, 50deg);
}
/*============================flip=======================*/

.flip-card {
	vertical-align: top;
}
.flip-card__body {
	position: relative;
	width: 200px;
	height: 200px;
	
	perspective: 400px;
	transform-style: preserve-3d; 
}

.flip-card__back,
.flip-card__front {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 2px solid #F7F7F7;
	transition: all 1s;

}
.flip-card__front {
	color: #fff;
	background-color:rgba(174, 172, 174, 0.9);
	transform: rotateX(0deg);
	backface-visibility: hidden;
}
.flip-card__back{
	background-color: rgba(150, 156, 145, 0.784);
	transform: rotateX(-180deg);
	
}

.flip-card__body:hover .flip-card__back{
	transform: rotateX(0deg);
} 
.flip-card__body:hover .flip-card__front{
	transform: rotateX(180deg);
}


/*=================car===============*/
.main__car-section 
{
	max-width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.car 
{

}
.car__body 
{
	position: relative;
	margin: 0 auto;
	width: 500px;
	height: 250px;
	/*border: 2px solid #fff;*/
	
}
.car__wheel--back
{
	position: absolute;
	bottom: 10px;
	left: 50px;
	width: 75px;
	height: 75px;
	background:url(../img/auto-wheel.jpeg);
	background-size: 100%;
	border-radius: 50%;
	z-index: 2;
	overflow: hidden;	
}
/*.car__wheel--back,
.car__wheel--front
{
	animation-name: rotate;
	animation-duration:3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes rotate
{
from 
{
	transform: rotate(0deg);
}
to
{
	transform: rotate(360deg);
}
}
.car__wheel--back:hover,
.car__wheel--front:hover 
{
	
	transition: all 5s ease;
}*/
/*.car__circle--back img
{
	width: 130%;
	background-size: contain;
}*/
.car__wheel--front
{
	position: absolute;
	bottom: 10px;
	right: 50px;
	width: 75px;
	height: 75px;
	background:url(../img/auto-wheel.jpeg);
	background-size: 100%;
	border-radius: 50%;
	overflow: hidden;
	z-index: 2;
	
}
.car__back-part 
{
	position: absolute;
	bottom:  45px;
	left: 0;
	width: 250px;
	height: 100px;
	border: 2px solid #fff;
	background-color: gold;
	border-radius: 50px 0 0  0;
}
.car__front-part 
{
	position: absolute;
	bottom:  45px;
	right: 0;
	width: 250px;
	height: 100px;
	border: 2px solid #fff;
	background-color: gold;
	border-radius:  0 50px 0  0;
}
.car__rear-lights 
{
	position: absolute;
	width: 25px;
	height: 35px;
	bottom: 80px;
	left: 0px;
	border: 2px solid #fff;
	border-radius: 40px 30px ;
	background-color: rgb(254, 124, 124);
	
}
.car__front-lights 
{
	position: absolute;
	width: 25px;
	height: 35px;
	bottom: 80px;
	right: 0;
	border: 2px solid #fff;
	border-radius: 30px 45px ;
	background-color: rgb(245, 254, 124);
}
.car__front-lights::after
{
	content: '';
	margin-left: 20px;
	margin-top: 10px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 200px solid rgba(245, 254, 124, 0.4);
	border-bottom: 30px solid transparent;
}
.car__top-rear
{
	position: absolute;
	top: 0;
	left: 60px;
	width: 190px;
	height: 106px;
	border: 2px solid #fff;
	background-color: gold;
	border-radius:90% 0  0 0;

}
.car__top-front
{
	position: absolute;
	top: 0;
	right: 60px;
	width: 190px;
	height: 106px;
	border: 2px solid #fff;
	background-color: gold;
	border-radius: 0 90% 0 0;

}
.car__rear-window
{
	position: absolute;
	top: 10px;
	left:100px;
	width: 140px;
	height: 85px;
	border: 2px solid #fff;
	background-color: rgba(13, 13, 247, 0.6);
	border-radius:75% 0  0 0;
}
.car__front-window
{
	position: absolute;
	top: 10px;
	right:100px;
	width: 140px;
	height: 85px;
	border: 2px solid #fff;
	background-color: rgba(13, 13, 247, 0.6);
	border-radius: 0 75% 0 0;
}
.car__front-door 
{
	position: absolute;
	bottom: 55px;
	right:100px;
	width: 140px;
	height: 75px;
	border: 2px solid #fff;
	border-radius: 0 0 70% 0;
}
.car__rear-door 
{
	position: absolute;
	bottom: 55px;
	left:100px;
	width: 140px;
	height: 75px;
	border: 2px solid #fff;
	border-radius: 0 0  0 70%;
}
.car__rear-door-handle 
{
	position: absolute;
	bottom: 115px;
	left:115px;
	width: 20px;
	height: 5px;
	background-color: #000;
}
.car__front-door-handle 
{
	position: absolute;
	bottom: 115px;
	right:200px;
	width: 20px;
	height: 5px;
	background-color: #000;
}
.car__rear-wheel-spoke {
}
.spoke-rear {
	position: absolute;
	bottom: 48px;
	left: 87px;
	z-index: 3;
	
}
.spoke-rear__top-botton 
{
	width: 0;
	height: 50px;
	border: 1px solid #000;
	transform: translate(0, 25px);
	
}
.spoke-rear__left-right
{
	width: 47px;
	height: 0;
	border: 1px solid #000;
	transform: translate(-25px, 0);

}
.car__front-wheel-spoke {
}
.spoke-front {
	position: absolute;
	bottom: 48px;
	right: 41px;
	z-index: 3;
}
.spoke-front__top-botton 
{
	width: 0;
	height: 50px;
	border: 1px solid #000;
	transform: translate(0, 25px);
}
.spoke-front__left-right 
{
	width: 47px;
	height: 0;
	border: 1px solid #000;
	transform: translate(-25px, 0);
}
.footer__container 
{
	max-width: 1270px;
	padding-top: 30px;
	text-align: center;
	
}
.footer__title
{
	font-size: 40px;
	padding: 20px;
	text-transform: uppercase;
}
.footer__item 
{
	margin: 0 auto;
	max-width: 600px;
	height: 450px;
	padding-bottom: 50px;
	background: url(../img/congratulation.jpg) 0 0 / 600px no-repeat;
	background-size: 100%;
	border: 1px solid #fff;
}
p
{
	font-size: 40px;
	padding: 20px;
	text-transform: uppercase;
	
}



/*==========foto-practice=======*/
.foto-block 
{

}
.foto-item 
{
	margin: 0 auto;
	max-width: 80px;
	min-height: 80px;
	border-radius: 50%;
	background: url(../img/auto-wheel.jpeg);
	background-size: 100%;

	overflow: hidden;
	
}
.foto-item img
{
	
}
