@import url("reset.css");


@import url("https://fonts.googleapis.com/css?family=Inter:,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");
@import url("fonts.css");



header{
    margin-bottom: 100px;
}

h1,h4{
    text-align: center;
    font-size: 50px;
    color: blue;
    text-transform: uppercase;
    text-shadow: rgba(55, 57, 63, 0.554) 3px 4px 3px;
}
h4{
    margin-bottom: 100px;
}
.licencing-container {
    max-width: 1218px;
    margin: 0 auto;
    padding: 150px 0;
    border: 5px dashed red;
    margin-bottom: 100px;
}
.licencing-title {
    text-align: center;
    margin-bottom: 70px;
}
.main-title,
.icons-title,.photography-title,
.fonts-title, .project-title {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1,21;
    color: #37393F;
}

.icons-title{
    margin-bottom: 11px;
}
.block{
    width: 12px;
    height: 12px;
    background-color: #40DDB6;
    display: inline-block;
}
.lic-sub-title {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
    color: #37393F;
    margin-bottom: 16px;
    display: inline-block;

}
.main-title {
    font-size: 60px;

}
.icons-container {
    margin-bottom: 100px;
}

.icons-text,.photography-text,.fonts-text{
    font-family: "Inter";
    font-size: 18px;
    color: #7D7D7D;
    line-height: 1.46;
    margin-bottom: 32px;
}

.license {
    color: #40DDB6;
    font-weight: 400;
}
.photography-container {
    margin-bottom: 100px;
}
.photography-title {
    margin-bottom: 11px;
}
 
.photography-sub-title, .icons-sub-title {
    margin-bottom: 8px;
    color: #37393F;
    font-family:"Poppins";
    font-size: 30px;
    font-weight: 700;
}
.photography-text1{
    margin-bottom: 24px;
    color: #40DDB6;
    font-family: "Inter";
    font-size: 18px;
    line-height: 1.46;
}
.fonts-title{
    margin-bottom: 11px;
}


.project-container{
    max-width: 830px;
    margin: 0 auto;
    border: 2px dashed red;
}
.project-title{
    margin: 0 0 13px 0;
}

.project-text,.project-list-1, .project-list-2 {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #7D7D7D;
    line-height: 1,46;
}
.project-text{
    margin-bottom: 35px;
}
.project-list-1,.project-list-2  {
    margin: 0 0 35px 30px;
    
    list-style: disc;
}
.project-list-1 li{
   list-style-position: inside;
   list-style-type: disc;
}
.project-list-2 li{
    list-style-position: inside;
    list-style-type: decimal-leading-zero;
 }
 main{
    margin: 0 0 100px 0;
 }

 .closing {
    font-family: "Causten";
    font-size: 20px;
    font-weight: 400;
    color: #807D7E;
    line-height: 1.675;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 0 0 21px;
    border: 2px dashed red;
    margin-bottom: 100px;
}
.closing-block{
    height: 28px;
    width: 6px;
    background-color: #8A33FD;
    border-radius: 10px;
    display: inline-block;
    margin: 0  15px 0 -21px;


}
.closing-title{
    display: inline-block;

}
.closing-title,.reexplore-women, .one-stop-dest {
    font-family: "CoreSansC";
    font-size: 28px;
    font-weight: 600;
    color: #3C4242;
    line-height: 1,2;
    margin: 0 0 30px 0;

}

.reexplore-women, .one-stop-dest{
    line-height: 1,675;
    font-size: 20px;
    margin: 0 0 25px 0;

}
.reexplore-text{
    margin: 0 0 20px 0;

}
span{
    font-family: "Causten";
    font-weight: 700;
}
a{
    font-weight: 700;
}


.jewells-group{
    max-width: 1110px;
    min-height: 519px;
    margin: 0 auto 100px;
    border: 2px dashed green;
    font-size: 0;
    

}
.text-content {
    font-family: "Cormorant Infant" ;
    font-size: 700px;
    max-width: 500px;
    display: inline-block;
   
    margin-right: 65px;
    border: 2px solid red;
}
.jewells-sub-title {
    color: #D58417;
    font-size: 20px;
    margin: 70px 0 27px 0;
    
}
.jewells-main-title {
    color: #000;
    font-size: 64px;
    margin: 0 0 31px 0;
}
.jewells-text {
    color:#606060; 
    font-size: 30px;
}
.foto-content {
    max-height: 505px;
    height: inherit;
    display: inline-block;
    vertical-align:top;   
    border: 2px dashed green;
    margin-top: 10px;
   
}
.foto-left {
    display: inline-block;
    margin:0 30px 0px 0;
    border:1px solid #502203;
    border-radius: 235px;
    padding: 5px 5px 0px 0px;
}

.foto-right {
    display: inline-block;
    min-height: 519px; 
    border:1px solid #502203;
    border-radius: 235px;
    padding: 5px 5px 0px 0px;   
}