@import url("fonts.css");

@import url("reset.css");


.wrapper {
    max-width: 1240px;
    min-height: 100%;
    margin: 0 auto;
    padding: 15px;
    font-weight: 600;
    font-size: 25px;
}
.vector-images {
    max-width: 860px;
    min-height: 200px;
    margin: 0 auto 50px;
    box-shadow: 5px 5px 5px inset rgba(0, 0, 0, 0.49),
               -6px -6px 6px inset rgba(0, 0, 0, 0.49);
    padding: 15px;
    text-align: center;
}
.vector-images span,.raster-images span {
    display: block;
    margin-bottom: 25px;
    text-align: center;
    color: rgb(99, 99, 99);
    text-shadow: 3px 2px 4px grey;
}
.vector{
  text-align: center;
}
.vector1,.vector2,
.vector3,.vector4{
    background-color: #000;
}
.vector:not(:last-child){
    margin-right: 50px;
}
/*====================*/
.page {
    margin-bottom: 50px;

}
.raster-images {
    max-width: 860px;
    min-height: 200px;
    text-align: center;
    margin: 0 auto;
}
.raster-images__title::after{
    content: "";
    width: 25px;
    height: 25px;
    background: url(../img/arrow-down.png) 0 0 / 25px no-repeat;
    vertical-align: middle;
    margin-left: 25px;
}
.raster-jpg-images__title::before{
    content: "";
    width: 25px;
    height: 25px;
    background: url(../img/arrow-down.png) 0 0 / 25px no-repeat;
    vertical-align: middle;
    margin-right: 25px;
}
.raster {
    max-width:500px;
}
.raster:not(:last-child){
    margin-bottom: 25px;
}
/*====================*/
.footer {
    text-align: center ;
}
.footer__text{
    font-size: 60px;
    color: #fff;
    text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 20px #fff,
                 0 0 40px #0000ff, 0 0 80px #0000ff,0 0 90px#0000ff,
                 0 0 100px #0000ff, 0 0 150px#0000ff;
}