
/*@import url(fonts.css);



/*
@font-face {
    font-family: "Causten";
    src:
        url("../fonts/Causten-Regular.woff2") format('woff2'),
        url("../fonts/Causten-Regular.woff") format('woff');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
    }
@font-face {
    font-family: 'Causten';
    src:
       url("../fonts/Causten-Light.woff2") format('woff2'),
       url("../fonts/Causten-Light.woff") format('woff');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
    }
@font-face {
    font-family: 'Causten';
    src:
       url("../fonts/Causten-Medium.woff2") format('woff2'),
       url("../fonts/Causten-Medium.woff") format('woff');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    }
@font-face {
    font-family: 'Causten';
    src:
        url("../fonts/Causten-Semi-Bold.woff2") format('woff2'),
        url("../fonts/Causten-Semi-Bold.woff") format('woff');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
    }
@font-face {
    font-family: 'Causten';
    src:
        url("../fonts/Causten-Bold.woff2") format('woff2'),
        url("../fonts/Causten-Bold.woff") format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    }
*/


@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+3:200,300,regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Zen+Loop:regular,italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");


body{
  font-family: "Inter", sans-serif;
  font-size: 18px;
}
.title,.sub-title,.some-title{
    font-family: "Poppins";
    font-weight: 600;
    text-shadow: 1px 2px 2px #37393F;
}
.title {
    
    font-size: 30px;
    color: #37393F;
}
.sub-title {
    text-align: center;
    font-size: 20px;
    color: #6B77E5;
}
.some-title{
    color:#37393F;
    font-size: 40px;
    font-weight: 700;
}
h1{
    text-align: center;
}
.text,.content{
    color: #7D7D7D;
    font-family: Inter;
    font-weight: 400;
}
.list{
   margin: 0 0 0 20px;
   text-shadow: 1px 2px 2px #000; 
}
.list-item{
    color: red;
}

.logo{
    width: 150px;
}
.block1{
    display: inline-block;
    width: 200px;
    text-align: center;
    margin: 0 0 0 85px;
}
.footer-title{
    font-family:"Source Sans 3", sans-serif;
    font-weight: 600;
    font-size:50px;
    text-shadow: 4px 3px 3px rgba(107, 119, 229, 0.664);
    text-align: center;
}
main{
    background-color: aquamarine;
    margin: 0 0 20px 0;
    padding: 20px;
}
.btn{
    width: 100px;
    background: #6B77E5;
    border-radius: 10px;
    margin: 20px 0 0 20px;
}
a{
   padding-left:38px;
   margin-top: 30px;
}
.block1 p {
  color: red;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.676);
}
